<div class="col-xs-12">
	<div class="jumbotron text-center">
		<h1>Add Member Below </h1>
	</div>
	<form name="c80Form">
			<div class="alert alert-danger" ng-show="c80Form.$dirty && !c80Form.$valid">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					Bạn chưa nhập thông tin đầy đủ 
				  </div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Add Name" ng-model="c80.name" required>
			<input type="text" class="form-control" placeholder="Add Account" ng-model="c80.account" required>
			<input type="text" class="form-control" placeholder="Add Birthday" ng-model="c80.birthday" required>
		</div>
		<div class="form-group">
			<a href="#!/" class="btn btn-success btn-lg btn-block" ng-click="c80Form.$valid && save()">
				<span class="glyphicon glyphicon-pushpin"></span>
				Save
			</a>
		</div>
		<div class="form-group">
			<a href="#!/" class="btn btn-default btn-lg btn-block" >
				<span class="glyphicon glyphicon-remove"></span>
				Cancel
			</a>
		</div>
	</form>

</div>